@import "tailwindcss";

:root {
  --background: #08080d;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-space-grotesk);
  --font-mono: var(--font-plex-mono);
}

*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-space-grotesk), sans-serif;
}

.font-mono {
  font-family: var(--font-plex-mono), monospace;
}

button,
input {
  font: inherit;
}